07102021ALMTEST1/Workflows/07_10_2021_TestFlow-3E7F0E6D-3727-EC11-B6E5-000D3ABAABDA.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"crc98_sharedoffice365_3249f"},"api":{"name":"shared_office365"}},"shared_planner":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"crc98_sharedplanner_682a5"},"api":{"name":"shared_planner"}},"shared_teams":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"crc98_sharedteams_7af67"},"api":{"name":"shared_teams"}},"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"crc98_sharedsharepointonline_6c4b0"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"07_10_2021_SPO_SITE":{"defaultValue":"https://volvogroup.sharepoint.com/sites/proj-coe_dev","type":"String","metadata":{"schemaName":"crc98_07_10_2021_SPO_SITE"}},"07_10_2021_SPO_LIST":{"defaultValue":"37079a07-adf8-442c-a38d-95235e781a6a","type":"String","metadata":{"schemaName":"crc98_07_10_2021_SPO_LIST"}},"07_10_2021_String":{"defaultValue":"Dev Success","type":"String","metadata":{"schemaName":"crc98_07_10_2021_String"}}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_room_lists_(V2)":{"runAfter":{"Get_items":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"GetRoomLists_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{},"authentication":"@parameters('$authentication')"}},"List_my_tasks":{"runAfter":{"Get_room_lists_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_planner","operationId":"ListMyTasks_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_planner"},"parameters":{},"authentication":"@parameters('$authentication')"}},"List_chats":{"runAfter":{"List_my_tasks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"GetChats","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"chatType":"all","topic":"all"},"authentication":"@parameters('$authentication')"}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"firstitem":"@{first(outputs('Get_items')?['body/value'])['Title']}"},"schema":{"type":"object","properties":{"firstitem":{"title":"FirstItem","x-ms-dynamically-added":true,"type":"string"}}}}},"Get_items":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('07_10_2021_SPO_SITE')","table":"@parameters('07_10_2021_SPO_LIST')","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Update_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('07_10_2021_SPO_SITE')","table":"@parameters('07_10_2021_SPO_LIST')","id":"@items('Apply_to_each')?['ID']","item/Title":"@{parameters('07_10_2021_String')}_@{utcNow()}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_chats":["Succeeded"]},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}